.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  flex:1;
  color: var(--text-color);
  margin-bottom: 15px;
  margin-top: 10px;
}
.key {
  flex: 1;
  text-align: right;
  color: var(--gray-600);
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}
.value {
  flex: 2;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
}
